/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Comfortaa', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Patua One', serif;
  letter-spacing: 2px;
}

.section-container{
    padding: 1.5em;
}

.section-content{
    text-align: center;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 25vw;
    padding: 1em;
    margin: 1em;
    border: 1x solid gray;
}

img{
    display: block;
    height: auto;
    border-radius: 50%;
    width: 80%
}